<ion-header>
  <ion-toolbar>
    <ion-title>
      GRADER
    </ion-title>
    <ion-img src='../assets/ise logo.png'></ion-img>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand = 'full' routerLink="/login/" routerDirection = 'forward'>Login</ion-button> 
  

  <ion-card>
    <ion-card-header>
      
      <ion-card-subtitle>By</ion-card-subtitle>
    </ion-card-header>
  
    <ion-card-content>
      6131707021 Krittamook A.
      6131824721 Pichaya P.
    </ion-card-content>
  </ion-card>

</ion-content>
