<ion-header>
  <ion-toolbar>
    <ion-title>Enter Information</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card>
  
  <ion-item>
      <ion-label size = "12" position = "floating" >Create unique username</ion-label>
      <ion-input type = "text" placeholder="Enter Input"></ion-input>
  </ion-item>
  <ion-item>
      
      <ion-label>Year</ion-label>
      <ion-select placeholder="Select One">
        <ion-select-option value="fr">Freshman</ion-select-option>
        <ion-select-option value="so">Sophomore</ion-select-option>
        <ion-select-option value="jr">Junior</ion-select-option>
        <ion-select-option value="sr">Senior</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      
        <ion-label>Major</ion-label>
        <ion-select placeholder="Select One">
          <ion-select-option value="ice">ICE</ion-select-option>
          <ion-select-option value="adme">ADME</ion-select-option>
          <ion-select-option value="aero">AERO</ion-select-option>
          <ion-select-option value="nano">NANO</ion-select-option>
          <ion-select-option value="ai">AI</ion-select-option>
        </ion-select>
      </ion-item>

      


    </ion-card>

    <ion-button expand = 'block' routerLink="/" routerDirection = 'back'>Home</ion-button> 
</ion-content>
